*{
    margin: 0;
    padding:0;
    overflow: hidden;
}
#top ul li{
    text-decoration: none;
    
    text-decoration:none;
    padding:0 15px;
    vertical-align:center;
    margin:auto;
}
.navt{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
#top ul{
   
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#top{
    height: 100vh;
    background-image: url("../image/pexels-janko-ferlic-590493.jpg");
    background-size: cover;
    position: relative;
}
#top ul li span{
    cursor: pointer;
}
/*------------------------for waves-----------------for waves--------------*/

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
   
}
.bgTop {
    z-index: 1;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100vh;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

/*-------------------------------for side menu-----------------------------------------*/
.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 18;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-y:hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    
    transition: 0.5s;
    
  }
  .sidenav a:hover{
  border:2px dotted white;
  height:35px;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 100px;
  }
  
  #top {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
