@media screen and (max-width:411px) {
    .hg{
        height:fit-content;

    }
    .visible{
        width:100%;
    }
    .fa-sharp{
        margin-left: 80px;
        margin-right: 80px;;
    }
    .hg p{
        overflow-x: hidden;
    }
    .sidenav .closebtn{
        margin-right: 20%;
    }
    body{
        margin:0;
        padding:0;
    }
    
    
    
}